.layout-grid {
  display: grid;
  grid-template-rows: 4rem auto 45px;
  grid-template-columns: 16rem auto;
  grid-template-areas:
    "header header"
    "sidebar main-content"
    "sidebar main-content";
  height: 100vh;
}

#header {
  background-color: #a3a3a3;
  grid-area: header;
  height: 100%;
}

#sidebar {
  background-color: #385b94;
  grid-area: sidebar;
  height: 100%;
  overflow: auto;
}

#main-content {
  background-color: #d0d9e6;
  grid-area: main-content;
  height: 100%;
  overflow: auto;
}
